body  {
    background-color: #73a242;
}

.name {
    color
}

.food {
    height: auto;
    width: 400px;
    display: block;
    margin: auto;    
}

.food.muffin{
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}

.food.guacamole {
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}

.food.coconut_oats {
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}

.food.friedrice {
    height: auto;
    width: 300px;
    display: block;
    margin: auto;
}